<launch>
  <arg name="gui" default="false" /> -->
  <arg name="armpos" default="1 0 0 0 0 0" doc="Origin position of robotarm (x y z roll yaw pitch)" />
  <param name="robot_description" textfile="$(find robotarmsimulation)/urdf/lynxmotion_arm.urdf" />
  <!-- <param name="use_gui" value="$(arg gui)"/> -->
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" required="true" />
  <node name="cup" pkg="robotarmsimulation" type="cup" args="0.4 0.0 0.0 cup"/>
  <node name="cup2" pkg="robotarmsimulation" type="cup" args="0.0 0.4 0.0 cup2"/>
  <node name="controller" pkg="robotarmsimulation" type="robotarmController"/> 
  <node name="client" pkg="robotarmsimulation" type="robotarmClient"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robotarmsimulation)/rviz/lynxmotion.rviz" required="true" /> -->

  <node name="world_tf" pkg="tf" type="static_transform_publisher" args="$(arg armpos) /world /base_link 100" required="true" />
  <node name="marker_tf" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /world /marker 100" required="true" />
</launch>